*{
    background-color: rgb(255, 255, 255);
}

#infi-list {
    width: 200px;
    height: 300px;
    overflow: auto;
  
    margin: 30px;
    padding: 20px;
    border: 10px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  li {
    padding: 10px;
    list-style-type: none;
  }
  li:hover {
    background: #ccc;
  }
  